# Comments

In [1]:
1 # This is a comment in the middle of code. It will not run

1

# Types

In [2]:
# If you put something at the end of a code block, Jupyter will print it
1

1

In [3]:
# Using the "type" keyword will tell you the type of something
type(1)

int

In [4]:
# Integers are not the same as floats!
type(1.0)

float

In [5]:
# There are multiple ways to declare floats
type(1.0)

float

In [6]:
# Here is an example of a boolean
type(True)
x=3
x
(x==3)

True

In [7]:
# This is the other boolean
type(False)

bool

In [8]:
# Here is an example of a string
type('Hello world!')

str

In [9]:
# Here is an example of a list
type([0, 1, 2])

list

In [10]:
# Here is an example of a NoneType
type(None)

NoneType

# Variable assignments

In [11]:
# Python variables are not math variables.
# They can be assigned and hold a value
x = 1
# Putting a variable at the end of a code block will print it
x

1

In [12]:
# You can find the type of what the variable holds by using type
type(x)

int

In [13]:
# Variables can be reassigned
x = 2
x

2

In [14]:
# The name of a variable is not related to the content at all
two = 2
Two

NameError: name 'Two' is not defined

In [15]:
# As you can see, the variable "two" holds 3
two = 3
two

3

In [16]:
# Variables are case-sensitive
X = 4.

In [17]:
X

4.0

In [18]:
x

2

In [19]:
# Variables are case-senstive for any part of the variable
Xyz = 3
Xyz

3

In [20]:
xyz = 4
xyz

4

# Operations (integral types)

In [21]:
# Python things can be combined using arithmetic operators
1 + 1

2

In [22]:
# The result of arithmetic operations can be assigned to variables
x = 10. - 5.3
y=5
z=x+y
z

9.7

In [23]:
# The result of an arithmetic operation WILL NOT CHANGE the variable contents
x * 2

9.4

In [24]:
# as you can see here
x

4.7

In [25]:
x = x * 2
x

9.4

In [26]:
# An example of floating point division
4.3 / 2.0

2.15

In [27]:
# An example of division of integers
4 / 3

1.3333333333333333

In [28]:
# An example of integer division, that returns ONLY the integral part
4 // 3

1

In [29]:
# Can you guess the output?
7.0 // 3

2.0

In [30]:
# How about now?
10 // 3

3

In [31]:
4.0 // 3.0

1.0

In [33]:
# An example of "modulus" or "mod" or "finding the remainder"
4 % 3

1

In [34]:
# What is the answer?
7 % 3

1

In [35]:
# How about now?
10 % 4

2

In [36]:
# How about now?
10 % 2

0

In [37]:
# And now?
143 % 5

3

In [38]:
x = 1
x = x + 1
x

2

In [39]:
x = 1
x += 1 # This is equivalent to "x = x + 1"
x

2

In [40]:
x = 10
x -= 5
x

5

In [41]:
x = 60
x *= 50
x

3000

In [2]:
#10//5.2
10/5.2

1.923076923076923

In [43]:
x = 100
x /= 10
x
type(x)

float

In [44]:
x = 100
x //= 10
x

10

In [45]:
x = 10
y = 10
x == y

True

In [46]:
x = 10
y = 20
not(x == y)

True

In [47]:
# Order of operations matters!
# *, /, % happen first, in the order they appear
1 + 3 * 20 % 7

5

# Operations (boolean types)

In [48]:
# Booleans can be combined using logical ands
# The result of logical and is True if and only if both sides are True
True and False

#Is True==True and False==True?

False

In [49]:
# Booleans can be combined using logical ors
# The result of logical or is True if either side is True
True or False

#is True==True or False==True?

True

In [138]:
# You can put operations that result in booleans and combine them
(1 == 1) and (2 == 2)

True

In [139]:
# Logical negation changes True to False
not True

False

In [140]:
# and False to True
not False

True

In [141]:
not (1 == 1)

False

# Operations (string, list)

In [147]:
# Adding strings is called "concatenation"
'Hello' ' '+ 'world!'

'Hello world!'

In [151]:
# Aside: can you have a 1-element list?
[0]

1

In [154]:
# Aside: can you have a 0-element list?
[]

list

In [157]:
# Adding list is also called "concatenation"
[0] + [1]

[0, 1]

In [161]:
x = [0]
y = [1]
x + y

[0, 1]

# Errors

In [162]:
# Errors occur when something you do that isn't allowed
# Remember: True is supposed to be capitalized!
true

NameError: name 'true' is not defined

In [1]:
# Variables must be assigned before being used
adidas=5
type(adidas)

int

In [2]:
# Once you assign a variable you can use it
adidas

5

In [3]:
adidas=10
adidas*=5 #50
adidas

50

In [198]:
adidas *=2 #adidas=adidas*2
adidas

200

In [197]:
adidas

100

In [194]:
# Dividing by 0 is undefined and thus an error in Python
1 / 0

ZeroDivisionError: division by zero

In [1]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [3]:
for index, x in enumerate("banana"):
  print(index,x)

0 b
1 a
2 n
3 a
4 n
5 a

In [9]:

for i in range (5):
    print(i)

0
1
2
3
4

In [10]:

for i in range (2,5):
    print(i)

2
3
4

In [13]:
for i in range (4,10,3):
    print(i)

4
7

In [14]:
a=0
for i in range (10):
    a=a+2
    
    print('i=',i,'a=',a)

i= 0 a= 2
i= 1 a= 4
i= 2 a= 6
i= 3 a= 8
i= 4 a= 10
i= 5 a= 12
i= 6 a= 14
i= 7 a= 16
i= 8 a= 18
i= 9 a= 20

In [26]:
#break to stop the loop when condition is met
a=0
for i in range (10):
    a=a+2
    
    print('i=',i,'a=',a)
    
    if a==8:
        break

i= 0 a= 2
i= 1 a= 4
i= 2 a= 6
i= 3 a= 8

In [51]:
#continue to skip certain steps oin the iteration


for num in range(10):
   
        for i in range (5):
             if num == 4:
                continue
        
             print(i)

0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4