# Review of lecture 1, part 1

In [ ]:
# Do errors from lecture 1, part 1 because I forgot to do them

In [ ]:
# Comments do not run

In [ ]:
x = 1 # Once the # appears, everything after is a comment
x

In [ ]:
y = 10 # Cells will not run on their own

In [ ]:
# When to use (), [], {}

In [1]:
# () are used for changing the order of operations
(1 + 2) * 3

9

In [2]:
1 + 2 * 3

7

In [3]:
# [] are used for lists
x = [1, 2, 3]
x

[1, 2, 3]

In [ ]:
# Do not use {}

In [ ]:
# Cells must be run IN ORDER
z = 10

In [ ]:
z

In [5]:
# Strings and variables are not the same thing
x = 'x'
x

'x'

In [ ]:
# The type keyword is not the same as the verb type

In [4]:
# What is the result of "True and True"
# How do I know?
True and True

True

In [5]:
# Variables can be REASSIGNED
x = 10
x = 6.9
x

6.9

In [6]:
x = 3
x

3

# Printing

In [6]:
# Print is another keyword that will print what is inside the ()
print(1)

1

In [7]:
# Printing works for most types
print(1.)

1.0

In [8]:
# Printing strings removes the quotes
x = 'Hello world!'
print(x)

Hello world!

In [9]:
# You can print multiple things by separating them with commas
print(1, 2)

1 2

In [10]:
# You can print mixed types
print(1, 2.0, 'Timnit')

1 2.0 Timnit

In [11]:
# You can print lists
y = [1, 2, 3]
print(y)

[1, 2, 3]

In [12]:
# Putting a variable on its own line only prints at the very end
x = 1
x
x = 2
x

2

In [13]:
# But you can print intermediate results using print
x = 1
print(x)
x = 2
print(x)

1
2

# Lists

In [14]:
# Lists are indexed STARTING FROM 0
# You can retreive elements from a list using LIST[INDEX] notation
x = [0, 1, 2, 3, 4, 5]
print(x[0])
print(x[1])

0
1

In [15]:
x = ['hello', 'world', 'how', 'do', 'you', 'do']
print(x[2])

how

In [19]:
# Indexing from negative numbers gives elements from the back
x = ['hello', 'world', 'how', 'do', 'you', 'do']
print(x[0])
print(x[1])
print(x[-1])
print(x[-2])
print(x[2])
print(x[-4])

hello
world
do
you
how
how

In [16]:
# len(LIST) gives you the length of the list
x = ['hello', 'world', 'how', 'do', 'you', 'do']
len(x)

6

In [20]:
# Which can be helpful with long lists
x = [32, 43, 45, 532, 3, 4, 14, 32, 1, 31, 3, 13, 3, 51, 1, 1]
len(x)

16

In [23]:
# List slicing can give you parts of lists
x = [32, 43, 45, 532, 3, 4, 14, 32, 1, 31, 3, 13, 3, 51, 1, 1]
print(x[0:1])
print(x[0:2]) 
print(x[0:5]) #x[0], x[1], x[2], x[3], x[4]

[32]
[32, 43]
[32, 43, 45, 532, 3]

In [24]:
# It does not include the last element past the colon
x = [32, 43, 45, 532, 3, 4, 14, 32, 1, 31, 3, 13, 3, 51, 1, 1]
x[1:5]

[43, 45, 532, 3]

In [26]:
# If you don't have something past the colon, it takes until the end
x = [32, 43, 45, 532, 3, 4, 14, 32, 1, 31, 3, 13, 3, 51, 1, 1]
x[5:]

[4, 14, 32, 1, 31, 3, 13, 3, 51, 1, 1]

In [27]:
# If you don't have something before the colon, it takes from the start
x = [32, 43, 45, 532, 3, 4, 14, 32, 1, 31, 3, 13, 3, 51, 1, 1]
x[:5]

[32, 43, 45, 532, 3]

In [28]:
# The above syntax works with negative indexes
x = [32, 43, 45, 532, 3, 4, 14, 32, 1, 31, 3, 13, 3, 51, 1, 1]
x[-3:]

[51, 1, 1]

In [29]:
x = [32, 43, 45, 532, 3, 4, 14, 32, 1, 31, 3, 13, 3, 51, 1, 1]
x[:-4]

[32, 43, 45, 532, 3, 4, 14, 32, 1, 31, 3, 13]

In [33]:
# You can modify list elements by the usual assignment
x = [0, 1, 2, 3, 5]
print(x)
x[4] = 10
print(x)
x[2]=-1
print(x)

[0, 1, 2, 3, 5]
[0, 1, 2, 3, 10]
[0, 1, -1, 3, 10]

In [34]:
# Lists can have mixed types
x = [1, 2, 'hi', 4.0, True, None]
x

[1, 2, 'hi', 4.0, True, None]

# String indexing

In [35]:
# String indexing follows the same rules as list indexing
x = 'Hello world!'
x[0]

'H'

In [36]:
x = 'Hello world!'
x[7]

'o'

In [37]:
# You can also use len with strings
x = 'Hello world!'
len(x)

12

In [38]:
x = 'Hello world!'
x[0] = 'B'

TypeError: 'str' object does not support item assignment

# Basic function syntax

In [ ]:
# This is function syntax
def FUNCTION_NAME(ARGUMENT1, ARGUMENT2, ...):
    FUNCTION_BODY
    return RETURN_VALUE

In [44]:
# This is an example of a function, with no function body
def thisIsAFunction(x):
    print(x)
    return x

In [45]:
# This is an example of calling a function
y = thisIsAFunction(100)
print(y)
print(x)

100
100
Hello world!

In [47]:
# This is another example of a function that does something. What does it do?
def multByTwo(x):
    return x * 2

In [48]:
# You can pass any type into a function
multByTwo(1)

2

In [49]:
multByTwo(2.0)

4.0

In [50]:
multByTwo('hi')

'hihi'

In [51]:
multByTwo([0, 1])

[0, 1, 0, 1]

In [52]:
# Function names DO NOT represent what the function does!
def multThree(x):
    return x * 2

In [53]:
multThree(2)

4

In [62]:
# You can call functions in functions
# You can also call functions on functions
def identityFunction(x):
    return x

def multByTwo(x):
    return 2 * x

def addOne(x):
    return x + 1

def mystery(x):
    return multByTwo(x) + addOne(identityFunction(x))

print(identityFunction(3))
print(multByTwo(3))
print(addOne(3))

3
6
4

In [63]:
mystery(3) # what is the output?

10

In [66]:
# Functions can have multiple arguments
def printBoth(x, y):
    print(x, y)
    return x,y
#printBoth(1, 2)
x=printBoth(1,2)
print(x)

1 2
(1, 2)

In [7]:
def printThree(x, y, z):
    print(x, y, z)

printThree(1, 2, 3)

1 2 3