# Lecture 2, Part 2 Exercises

## Question 1

Write a function that takes in a list and returns the length of the list. Fill in the function definition below.

In [1]:
def listLen(l):
    # write here
    return len(l)

    # Test your code here.
print(listLen([1, 2, 3]) == 3)
print(listLen(["Daniel", "Basi", "Mike", "Leello", "Rupal"]) == 5)
print(listLen([]) == 0)

True
True
True

## Question 2

### 2.1

What is the last number printed in this example:

```python
for elem in [23, 42, 10]:
    print(elem)
```

In [2]:
# Your answer:10
for elem in [23, 42, 10]:
    print(elem)

23
42
10

How about in this example?

```python
for elem in range(10):
    print(elem + 5)
```

In [3]:
# Your answer:14
for elem in range(10):
    print(elem + 5)

5
6
7
8
9
10
11
12
13
14

How, if at all, is this different from the previous example?

```python
for elem in range(0, 10):
    print(elem + 5)
```

In [4]:
# Your answer:14
for elem in range(0,10):
    print(elem + 5)

5
6
7
8
9
10
11
12
13
14

Is the last element printed in this example different from the last element printed in the above example?

```python
for elem in range(0, 10, 2):
    print(elem + 5)
```

In [5]:
# Your answer:yes it is 13
for elem in range(0,10,2):
    print(elem + 5)

5
7
9
11
13

### 2.2

Using a `for` loop, print every element in the list l. Do this using 

1) `for x in l` syntax

2) `for x in range` syntax

In [18]:
l = [2, 7, 5]
# write for loop here with method 1
for x in l:
    print(x)

# use method 2 here
for x in range(len(l)):
    print(l[x])

2
7
5
2
7
5

### 2.3

Write a function ```printNums(x)``` that prints every number between $0$ and $x-1$. 

For example when $x = 3$, ```printNums(x)``` should give:
```
0
1
2
```

In [9]:
# Write code here
def printNums(x):
    for i in range(x):
        print(i)

# Test your code here
printNums(3)

0
1
2

### 2.4

Write a function ```sumx(x)```, using a `for` loop, that sums every number between $0$ and $x - 1$ inclusive. *Hint: you may want to define a variable inside your function to keep track of the running sum.*

For example, with $x = 5$
```python
sumx(x)
```
would return $10 (= 0+1+2+3+4)$.

In [10]:
# Define your function here.
def sumx(x):
    total=0
    for i in range(x):
        total +=i
    return total    

# Test your function here.
sumx(5)

10

## Question 3

## 3.1

Write a function ```first(l)``` that takes in a list and returns the first element of the list.

In [11]:
# Define your function here.
def first(l):
    return l[0]

# Test your function here.
# Write some of your own test cases as well.
print(first([1, 1, 2, 3, 5, 8, 13]) == 1)

True

## 3.2

Write a function ```last(l)``` that takes in a list`(l)` and returns the last element of the list.

In [12]:
# Define your function here.
def last(l):
    return l[-1]

# Test your function here.
# Write some of your own test cases as well.
last([2, 5, 7])

7

## 3.3

Using calls to the functions above, write a function ```extreme(l)``` that takes in a list (`l`) and returns the sum of the first and last element of the list. If the list has length less than 1 return a string saying "Not possible".

In [13]:
# Define your function here.
def extreme(l):
    if len(l)<1:
        return "Not possible"
    else:
        return first(l)+last(l)

# Test your function here.
# Write some of your own test cases as well.
extreme([2, 3, 6])

8

## Question 4

Write a function ```sum(l)``` that given a list`(l)` returns the sum of all the elements in the list.

```python
sum([]) = 0
sum([1,2,3]) = 6
```

Do this using `for x in l` syntax.

In [14]:
# Define your function here.
def sum(l):
    total=0
    for i in l:
        total +=i
    return total

# Test your function here.
# Write some of your own test cases as well.
sum([5, 1, 2, 8])

16

Now do this without using `for x in l` syntax. *Hint: Remember the range function*

In [17]:
# Define your function here.
def sum(l):
    total =0
    for i in range(len(l)):
        total += l[i]
    return total

# Test your function here.
# Write some of your own test cases as well.
sum([5, 1, 2, 8])

16

## Question 5

Write a function ```oddval(l)``` that prints all the odd numbers in a list.

For example:
``` python
oddval([5, 2, 8, 17, 32, 2, 8, 9])
```
should print:

``` python
5
17
9
```

In [19]:
# Define your function here.
def oddval(l):
    for x in range(len(l)):
        if l[x] % 2 ==0:
            continue
        else:
            print(l[x])

# Test your function here.
# Write some of your own test cases as well.
oddval([5, 2, 8, 17, 32, 2, 8, 9])

5
17
9

## Question 6

Write a function ```oddind(l)``` that prints all the values in odd indices.

For example: 
``` python
oddind([1, 2, 3, 4, 9, 15])
``` 
should print:
``` python
2
4
15
```

In [10]:
# Define your function here.
def oddind(l):
    for x in range(1,len(l),2):
        print(l[x])

# Test your function here.
# Write some of your own test cases as well.
oddind([1, 2, 3, 4, 9, 15])

2
4
15

## Question 7

Write a function ```isPrime(x)``` that given integer x will return ```True``` if `x` is prime and ```False``` otherwise.

Formally, $x$ is prime if and only if $1<i<x$, $(x$ ``` 
mod 
``` 
$ i) \neq 0$.

In [72]:
# Define your function here.
def isPrime(x):
    if x>1:
        
    # Iterate from 2 to n       
    # If num is divisible by any number between  
    # 2 and n, it is not prime
        for i in range(2, x):
            if (x % i) == 0:
                return False
                break
        else:
            return True # prime
            
    else:
        print(False)
        

# Test your function here.
# Write some of your own test cases as well.
#isPrime(13)
#isPrime(51)
#isPrime(11)
isPrime(4)

False

Run the cell below to test your `isPrime(x)` function.

In [73]:
def test():
    inputs = [4, 2, 25, 11, 13, 51]
    expected_output = [False, True, False, True, True, False]
    for i in range(len(inputs)):
        if (isPrime(inputs[i]) != expected_output[i]):
            print("Failed on input: ", inputs[i])
            return
    print("All test cases passed!")


test()

All test cases passed!

## Question 8

What does the following code print?

```python
for i in range(3):
    for j in range(3):
        print([i, j])
```

In [74]:
# Your answer:
for i in range(3):
    for j in range(3):
        print([i, j])

[0, 0]
[0, 1]
[0, 2]
[1, 0]
[1, 1]
[1, 2]
[2, 0]
[2, 1]
[2, 2]

## Question 9

In this problem, you will be dealing with a set of temperatures over a week represented as floats in a list. After you complete each of the subproblems, run the test cell to verify your solution.

### 9.1

Given a list of temperatures in a week, write a function ```findMin(l)``` that takes in a list of floats and returns the minimum temperature in the list.

In [81]:
# Define your function here
def findMin(l):
    return min(l)

In [82]:
# Run this cell to test your function.
def test():
    # list of test cases
    inputs = [[13.25, 14.11, 15.64, 20.53, 17.32, 18.63, 14.90],
              [-1.34, 0.0, 5.89, 6.73, 2.54, 4.53, 7.01],
              [5.53, 2.63, 0.7, 8.26, 10.1, 6.13, 2.43],
              [7.98, 12.34, 10.52, 13.64, 15.42, 14.42, 16.32],
              [8.42, 12.542, 13.25, 17.52, 15.24, 10.45, 8.86]]
    expected_output = [13.25, -1.34, 0.7, 7.98, 8.42]
    for i in range(len(inputs)):
        if (findMin(inputs[i]) != expected_output[i]):
            print("Failed on input: ", inputs[i])
            return
    print("All test cases passed!")


test()

All test cases passed!

In [80]:
c=[-3,2,1.5,-6.4]
min(c)

-6.4

### 9.2

Now find the average temperture of each week. Given a list of temperatures, write a function ```findAvg(l)``` that returns the average temperature of the list using `for` loop(s).

In [86]:
# Write code here
def findAvg(l):
    average = sum(l)/len(l)
    return average

In [87]:
def test():
    # list of test cases
    inputs = [[13.25, 14.11, 15.64, 20.53, 17.32, 18.63, 14.90],
              [-1.34, 0.0, 5.89, 6.73, 2.54, 4.53, 7.01],
              [5.53, 2.63, 0.7, 8.26, 10.1, 6.13, 2.43],
              [7.98, 12.34, 10.52, 13.64, 15.42, 14.42, 16.32],
              [8.42, 12.542, 13.25, 17.52, 15.24, 10.45, 8.86]]
    expected_output = [16.34, 3.6228571428571428,
                       5.111428571428571, 12.94857142857143, 12.325999999999999]
    for i in range(len(inputs)):
        if (abs(findAvg(inputs[i]) - expected_output[i]) > 0.1):
            print("Failed on input: ", inputs[i])
            return
    print("All test cases passed!")


test()

All test cases passed!

### 9.3

Now you are given a list of 5 cities' temperatures in a certain week. The first is Addis, second is Harar, followed by Lalibela, Aksum, and Gondar. Write a function ```coldestCity(l)``` that takes in a list of lists, where each list contains 7 floats, and returns the index of the city with the minimum average temperature. Then, write the city name corresponding to that index in the cell provided below the test function.

For example:
     
   `coldestCity([22,44,33,11,10,9,8],[21,22,23,24,25,26,27])`
  
 Should return:
   19.6

*Hint: It may be useful to call ```findMin``` and  ```findAvg```  in this function.*

In [90]:
# Define coldestCity here.
def coldestCity(l):
    cold=[]
    
    for i in range(len(l)):  #the average temp of each city
        cold.append(findAvg(l[i]))
    
    mintemp = findMin(cold)
    for j in range(len(cold)):  # the minimum average temp
        if cold[j] == mintemp:
            return j

In [91]:
# Run this cell to test your function.
def test():
    temps = [[13.25, 14.11, 15.64, 20.53, 17.32, 18.63, 14.90],
             [-1.34, 0.0, 5.89, 6.73, 2.54, 4.53, 7.01],
             [5.53, 2.63, 0.7, 8.26, 10.1, 6.13, 2.43],
             [7.98, 12.34, 10.52, 13.64, 15.42, 14.42, 16.32],
             [8.42, 12.542, 13.25, 17.52, 15.24, 10.45, 8.86]]
    expected_output = 1
    if coldestCity(temps) != expected_output:
        print("Test Failed")
    else:
        print("All tests passed!")


test()

All tests passed!

## Question 10

Write a function ```mostCommon(s)``` that takes in a string and returns the most common character in a string. If no character occurs more often than any other character, return any character in the string.

For example ```mostCommon("salaam")``` should give "a".

Something like ```mostCommon("aabbbcddeeeee")``` should give "e".

Something like ```mostCommon("abc")``` could give "a", "b", or "c".

In [2]:
# Write code here.

def mostCommon(s): #This one works but adds one to the letter count? Gotta fix this bug
    master = {}
    for i in s:
        if i not in master:
            master[i] = 0
        if i in master:
            master[i] +=1
    print (max(master.values()))
    #print(master)
                
            
# Test your function here.
mostCommon("aaa")

"""
def common(y):
    set1 = set()
    for i in y:
        set1.add(i)
    for i in set1:
        dict1[i] = 0
    if i in dict1:
        dict1[i] += 1
    print(max(dict1.values())
    #print(set1)

common("salaam")"""

3

'\ndef common(y):\n    set1 = set()\n    for i in y:\n        set1.add(i)\n    for i in set1:\n        dict1[i] = 0\n    if i in dict1:\n        dict1[i] += 1\n    print(max(dict1.values())\n    #print(set1)\n\ncommon("salaam")'

Run the cell below. If what you wrote is correct it should output : "TEST CASES PASSED !"

In [3]:
# Test cases


def test():
    tests = ["aaa", "The quick Brown Fox jumped over the lazy Fox",
             "bdabbbd", "bbbacedddde"]
    answers = ['a', ' ', 'b', 'd']
    for i in range(len(tests)):
        if mostCommon(tests[i]) != answers[i]:
            print("TEST CASE FAILED")
            break
    print("TEST CASES PASSED !")


test()

3
TEST CASE FAILED
TEST CASES PASSED !

## Question 11

Write a function `removeCharacter(s, c)` that given a string (`s`) and a character (`c`), removes all the instances of character `c` in `s`. This function should return a modified string.

For example `removeCharacter("hello", "e") = "hllo"`

Another example `removeCharacter("hello", "f") = "hello"`

In [12]:
# Write code here
def removeCharacter(s,c):
    if c in s:
        return s.replace(c,"")

# Test your function here.
removeCharacter("helleweo", "e")

'hllwo'

Run the cell below. If what you wrote is correct it should output : "You've Done Well Friend!"

In [13]:
def test():
    tests = [("hello world", "h"), ("Jessica", "c"), ("ThunderStick", "r")]
    answers = ['ello world', 'Jessia', 'ThundeStick']
    if [removeCharacter(*x) for x in tests] == answers:
        print("You've Done Well Friend!")
    else:
        print("Errors ! Errors ! Errors!")


test()

You've Done Well Friend!