# Lecture 1, Part 1 Exercises

## Question 1

_Use code to determine the answers to the question 1.1-1.4_

### 1.1 
What is the type of ```1```? Use the function ```type``` to determine.

In [ ]:
type(1)

### 1.2 
What about the type of ```1.0```?

In [ ]:
type(1.0)

### 1.3 
What is the resulting type of adding an ```1``` and ```1```?

In [ ]:
type(1+1)

### 1.4
What is different about the resulting type of adding ```1``` and ```1.0```?

In [ ]:
type(1+1.0)

### 1.5
So, what can you say about the resulting type of adding an ```int``` and a ```float```?

## Question 2

_Use code to determine the answers to the question 2.1-2.4_

### 2.1
What is the type of `"Jelani"`?

In [ ]:
type("Jelani")

### 2.2
What is the type of ```'Computer'```?

In [ ]:
type("Computer")

### 2.3
What happens when you add ```"Jelani"``` and ```'Computer'```?

In [ ]:
"Jelani" + "Computer"

### 2.4
What is the resulting type of adding ```"Jelani"``` and ```'Computer'```?

In [ ]:
type("Jelani" + "Computer")

### 2.5
Is there a difference between single quotes and double quotes?

In [ ]:
print("How\'s your day?")
print("Her title is 'Majesty the Queen'")

### 2.6
What happens when you add two strings (with the `+` operator)?

## Question 3

_Use code to determine the answers to the question 3.1_

### 3.1
What is the resulting type of adding ```3``` and ```'3'```?

In [ ]:
type(3+'3')
#int and string can't be concatenated

### 3.2
Can you explain why the error occured?

## Question 4

_Use code to determine the answers to the question 4.1-4.4_

### 4.1
Make a list that contains ```4``` and ```5.0```.

In [ ]:
x=[4,5.0]
x

### 4.2
Can you make a list that has ```1```, ```2``` and ```"Jelani"```in it?

In [ ]:
y=[1,2,"Jelani"]
y

### 4.3
Can you make a list that contains ```1```, ```2```, ```"Jelani"```, and ```[4, 5.0]```?

In [ ]:
y + x

### 4.4
Think about another type we haven't used in Question 4. Can you put it in the list of ```[1, 2.0]```?

In [ ]:
#boolean
y.append(True)

In [ ]:
y

### 4.5
What types can lists contain?

In [ ]:
type(y)

### 4.6
Add lists ```[5, 6, 'pom']``` and ```[True, 12, 5.0]``` together. What happens?

In [ ]:
a = [5, 6, 'pom']
b = [True, 12, 5.0]
c = a + b  #concatenation
c

## Question 5

_Use code to determine the answers to the question 5.1-5.4_

### 5.1
Multiply ```5``` and ```4```.

In [ ]:
5 * 4

### 5.2
Multiply ```'Shiro'``` by ```3```.

In [ ]:
'Shiro ' * 3

### 5.3
Multiply ```5.0``` and ```4```.

In [ ]:
5.0 * 4

### 5.4
Multiply ```['Shiro', 5]``` by ```4```.

In [ ]:
['Shiro', 5] * 4

### 5.5
What patterns emerge when you multiply different types with an integer?

## Question 6

### 6.1
Are ```3``` and ```'3'``` equivalent? Use code to confirm.

In [ ]:
type(3)

In [ ]:
type('3')

### 6.2
Are ```"Jelani"``` and ```"jelani"``` equivalent? Use code to confirm.

In [ ]:
"Jelani" == "jelani"

### 6.3
What is the result of ```(not False) == True```?

In [ ]:
(not False) == True

## Question 7

### 7.1
Define a variable ```x```, that has a value of ```5```.

In [ ]:
x = 5

### 7.2
Define a variable ```y```, that has a value of ```x```.

In [ ]:
y = x

### 7.3
What is the value of ```y```?

In [ ]:
y

### 7.4
Change ```x``` to ```4```. What is the value of ```y```?

In [ ]:
x = 4
y

### 7.5
Define a variable ```z```, that has a value of the sum of ```x``` and ```y```

In [ ]:
z = x + y

### 7.6
Assign ```x``` another value, ```12```. What are the values of ```y``` and ```z```?

In [ ]:
x = 12
z
y

### 7.7
Define a variable ```x``` and assign it the value of ```False```,  **but without using the keyword `False`**. 

Hint: You can do it using one special operator.

In [ ]:
x = not True
x

## Question 8

### 8.1
Given the following lines of code, what is the value of the variable ```seven```?

```python
seven = 8
```

In [ ]:
seven = 8
seven

### 8.2
Given the following lines of code, are the variables ```shiro``` and ```Shiro``` equivalent?

In [ ]:
shiro = 10
Shiro = 12
shiro == Shiro

## Question 9

### 9.1
Define a variable ```x``` that has the value ```10``` times ```20```.

In [ ]:
x = 10 * 20

### 9.2
Now increment `x` by 3.

In [ ]:
x + 3

Can you increment `x` by 3 in a different way (using a different operator)?

In [ ]:
x +=3
x

### 9.3
Find the remainder of ```78``` divided by ```14``` using one operator from lecture. For example - 

$16 = 5 * 3 + 1$ (1 is the remainder).

In [ ]:
78 % 14

In [ ]:
16 % 15

### 9.4
Given ```x```, make ```x``` 10 times smaller using one operation. Return a value that has the type ```int```.

In [ ]:
x // 10

## Question 10

### 10.1
What type(s) can you multiply lists with, without creating an error?

## Question 11

### 11.1
Write code to produce

a.  ``` 'ShiroShiroShiro' ```

b. ```'Shiro3'```

You should only type  ```'Shiro'``` once and ```3``` once for each case.

In [ ]:
y = 'Shiro'
y *= 3
y

In [ ]:
'Shiro'+'3'

## Question 12

### 12.1
Look at the following code
```python
x = 99
x /= 10
x *= 50
y = x
y += 5
x -= y
y %= x

```
What is ```x``` and ```y```?  Try to do it in your head (or on paper) first before trying it with code.

In [ ]:
x = 99
x /= 10
x *= 50
y = x
y += 5
x -= y
y %= x

In [ ]:
x

In [ ]:
y